<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Doctors Charity is a not-for-profit organization that helps doctors and other healthcare workers contribute their skills and resources to better the lives of people living in Africa who have poor access to healthcare.">
    <meta name="robots" content="index, follow">
    <title>Doctors Charity</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/ico">

    <meta property="og:title" content="Doctors Charity">
    <meta property="og:description"
        content="Doctors Charity is a not-for-profit organization that helps doctors and other healthcare workers contribute their skills and resources to better the lives of people living in Africa who have poor access to healthcare.">
    <meta property="og:image" content="assets/img/favicon.png">
    <meta property="og:type" content="text/html">

    <meta property="og:url" content="https://doctorscharity.org">

    <meta name="twitter:title" content="Doctors Charity">
    <meta name="twitter:description"
        content="Doctors Charity is a not-for-profit organization that helps doctors and other healthcare workers contribute their skills and resources to better the lives of people living in Africa who have poor access to healthcare.">
    <meta name="twitter:image" content="assets/img/favicon.png">
    <meta name="twitter:card" content="assets/img/favicon.png">
    <!-- CSS only -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<style>

</style>

<body>
    <div class="top-bar">
        <div class="row top-row">
            <div class="col-12">
                <div class="top-nav float-right">
                    <a href="donate.html">
                        <button class="nav-btn">donate now</button>
                    </a>

                    <a href="tel:212-470-3827" class="phone">
                        <i class="fa fa-round fa-phone "></i>
                        <span>212-470-3827</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="Dotors charity logo"></a>

                    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup">
                        <span class="navbar-toggler-icon">
                            <i class="fa fa-navicon"></i>
                        </span>
                        <i class="fa fa-close close-icon" aria-hidden="true"></i>
                    </button>



                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-link mr-5 " href="index.html">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-link mr-5 active" href="about.html">About us</a>
                            <a class="nav-link mr-5 " href="projects.html">Projects</a>
                            <a class="nav-link mr-5" href="contact.html">Contact us</a>

                            <div class="nav-link">
                                <a href="#"><i class="fa fa-round fa-facebook"></i></a>

                                 <a href="#"><i class="fa fa-round fa-twitter"></i></a>

                                 <a href="#"><i class="fa fa-round fa-instagram"></i></a>

                                 <a href="#"><i class="fa fa-round fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background: url('assets/img/slider-1.jpg') no-repeat center;">
                <div class="carousel-caption d-md-block">
                    <h2>Doctors Charity </h2>
                    <p>Doctors Charity is a not-for-profit organization that helps doctors and other healthcare workers
                        contribute their skills and resources to better the lives of people living in Africa who have
                        poor access to healthcare.</p>
                    <a href="#">
                        <button class="nav-btn w-color">Learn more</button>
                    </a>

                </div>
            </div>
            <div class="carousel-item" style="background: url('assets/img/slider-2.jpg') no-repeat center;">
                <div class="carousel-caption d-md-block">
                    <h2>Doctors Charity </h2>
                    <p>
                        It further provides a means through which Africans in the Diaspora and people in the developed
                        world can directly impact the lives of Africans on the Continent, thereby midwifing a
                        renaissance period that will usher in a rebirth of the Continent.</p>
                    <a href="#">
                        <button class="nav-btn w-color">Learn more</button>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="background: url('assets/img/slider-3.jpg') no-repeat center;">
                <div class="carousel-caption d-md-block">
                    <h2>Doctors Charity </h2>
                    <p>Doctors Charity currently operates in the U.S. and Africa to deliver medical care and equipment,
                        health and education, microfinance, and investment in agriculture in communities that need it
                        the most.</p>
                    <a href="#">
                        <button class="nav-btn w-color">Learn more</button>
                    </a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="donation">
        <a href="#"><span class="uppercase">Make Donation</span></a>
    </div>



    <section class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto text-center">
                    <h1 class="uppercase">Welcome To <b>Doctors Charity</b></h1>

                    <div class="welcome-body">
                        <p>
                            Doctors Charity is a not-for-profit organization that helps doctors and other healthcare
                            workers
                            contribute their skills and resources to better the lives of people living in Africa who
                            have poor
                            access to healthcare.
                        </p>
                        <p>
                            It further provides a means through which Africans in the Diaspora and people in the
                            developed world can
                            directly impact the lives of Africans on the Continent, thereby midwifing a renaissance
                            period that will
                            usher in a rebirth of the Continent.
                        </p>
                        <a href="#" class="more">Learn more.</a>

                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div class="lil-grey">
        We are dedicated to providing medical care and resources to the<span> economically disadvantaged</span>
    </div>


    <section class="africa">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/boy.jpg" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <h2>
                        Africa the Beautiful
                    </h2>
                    <div class="africa-body">
                        <p>Africa is faced with numerous challenges. Some of these challenges manifest themselves in
                            various ways including, but not limited to, hunger, poverty, poor infrastructural
                            development, lack of basic amenities, corruption, and tribal wars. The aforementioned,
                            together with the dearth of skilled healthcare workers (which has been worsened over the
                            years by severe brain drain from Africa to the Western world), are responsible for the poor
                            health indices in Africa as evidenced by the alarming rates of preventable deaths and
                            disabilities all over the continent. In spite of all this, our view of Africa remains
                            unchanged. It is that of a continent that is immensely blessed by nature with great climate,
                            abundant natural resources and beautiful scenery everywhere one goes. Most importantly,
                            Africa is blessed with brilliant, talented and hardworking people who are doing great things
                            all over the world. One of the major objectives of Doctors Charity is to bring together
                            Africa's rich human resources, both home and abroad, to unite in developing our motherland.
                        </p>
                    </div>
                    <div class="text-center__small">
                        <a href="#"><button class="africa-btn uppercase">Make donation</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <img src="assets/img/flags.jpg" class="img-fluid" alt="participate via telemedicine">

    <section class="telemedicine">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mbtm-5">
                    <h2>Participate via Telemedicine</h2>
                    <div class="content">
                        <p>Doctors Charity uses information technology to connect qualified healthcare workers, who wish
                            to volunteer their time and skills to alleviate the health issues that plague the continent
                            of Africa, with the people who need such services. For these volunteers who are unable to
                            leave their jobs to travel for onsite medical intervention, Telemedicine offers the perfect
                            avenue for them to do so. Working with their free time and schedule, Doctors Charity can
                            schedule consultation appointments with them and patients in Africa, thereby efficiently
                            meeting the same goals.
                        </p>
                        <p> Ihotu Telemedicine Clinic in Nigeria is a major partner in this regard.</p>
                    </div>
                    <div class="text-center__small">
                    <a href="#"><button class="telemedicine-btn">Contact Us</button></a>

                    </div>
                </div>
                <div class="col-md-6 ">
                    <img src="assets/img/home-telemedicine-img.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="uppercase">Navigation Links</h4>
                    <div class="row">
                        <div class="col-4 px-0">


                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-4 px-0">

                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="projects.html">Projects</a></li>
                            </ul>
                        </div>
                        <div class="col-4 px-0">

                            <ul>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="donate.html">Donate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-1-7 px-0">
                    <ul class="contact">
                        <li><a href="#"><i class="fa fa-map-marker"></i> 350 5th Ave, 59th Floor, New York, NY 10118</a>
                        </li>
                        <li><a href="tel: 212-470-3827"> <i class="fa fa-phone"></i> 212-470-3827</a></li>
                        <li><a href="mailto:info@doctorscharity.org"><i class="fa fa-envelope"></i>info@doctorscharity.org</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="social ">
                        <h5>Follow us</h5>

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <img src="assets/img/small-logo.png" alt="Doctors charity icon">
                <span>Copyright ©
                    <script>document.write(new Date().getFullYear())</script> Doctors Charity</span>
            </div>
        </div>
    </footer>

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>